<app-content title="Componentes">
  <p>
    Los componentes son el bloque de construcción más básico de un UI en una aplicación Angular. Una aplicación Angular es un árbol de componentes Angular.
    <i (click)="OpenModal('examplelazy')" class="fa fa-arrows-alt" aria-hidden="true"></i>
  </p>
  <p>Los componentes Angular son un sub-conjunto de directivas. A diferencia de las directivas, los componentes siempre tienen una plantilla y solo un componente puede ser instanciado por un elemento en una plantilla.</p>
</app-content>
<app-modal title="Ejemplo de Componente" #examplelazy>
  <pre><code [highlight]="dexamplelazy" [languages]="['typescript']"></code></pre>
</app-modal>
