<app-content title="Typescript">
  <div class="container">
    <div class="row">
      <div class="col data">
        <div class="expand" (click)="openModal()">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </div>
        <ul>
          <li class="pb-2"><b>Typescript</b>: Es un superset de Javascript. Es decir, un lenguaje que está construído encima del propio Javascript, en el sentido que agrega nuevas características al lenguaje Javascript, ofreciendo nuevas herramientas para los programadores. </li>
          <li><b>Ecmascript 6 </b>: Es el estándar que sigue JavaScript desde Junio de 2015. Hasta ese momento la versión de JS que estábamos usando en nuestros navegadores y Node.js, era la v5.</li>
        </ul>
      </div>
      <div class="col">
        <img src="../../../../../assets/img/typescript-model.png" alt="">
      </div>
    </div>
  </div>
</app-content>
<app-modal title="Evolucion de Javascript">
  <img class="modal-img" src="../../../../../assets/img/typescript-modal-history.png" alt="">
</app-modal>

