<app-content title="CLI Commands Scaffolding">
  <pre><code [highlight]="ngcommand" [languages]="['bash']"></code></pre>
  Elements:
  <ul>
    <li><b>directive</b>: extencion de funcionalidad o apariencia a elementos del DOM.</li>
    <li><b>pipe</b>: formateador de datos de presentación en el template del componente.</li>
    <li><b>service</b>: servicios para funcionalidad concentrada singleton.</li>
    <li><b>class</b>: genera clases de typescript.</li>
    <li><b>guard</b>: interceptor de validaciones para rutas.</li>
    <li><b>interface</b>: genera una interface de typescript.</li>
    <li><b>enum</b>: genera una interface de typescript.</li>
    <li><b>module</b>: genera un modulo para el control de recursos.</li>
  </ul>
  <b>route_name</b>: ruta + nombre del componente.
</app-content>
