<app-content title="Pipes">
  <p>
    Son una forma de escribir transformaciones de valor de visualización que puede declarar en su HTML(template).
    <i (click)="OpenModal('examplelazy')" class="fa fa-arrows-alt" aria-hidden="true"></i>
  </p>

  Built in pipes:

  <li>CurrencyPipe</li>
  <li>DatePipe</li>
  <li>JsonPipe</li>
  <li>PercentPipe</li>
  <li>SlicePipe</li>
  <li>LowerCasePipe</li>
  <li>UpperCasePipe</li>
  <li>TitleCasePipe</li>

</app-content>
<app-modal title="Ejemplos de Pipes" #examplelazy>
  <pre><code [highlight]="dexamplelazy" [languages]="['typescript']"></code></pre>
</app-modal>
