img {
  width: 250px;
  height: 220px;
}

.container {
  min-width: 800px!important;
}

.expand {
  position: absolute;
  top: -15px;
  display: none;
  padding: 5px;
  font-size: 2em;
  right: -22px;
  cursor: pointer;

  &:active {
    transform: scale(2);
  }
}

.data:hover .expand {
  display: inline-block;
}

.modal-img {
  height: 330px;
  width: 680px;
  margin: 0 auto;
}
