<app-content title="Angular">
  <div class="container">
    <div class="row">
      <div class="col-7 data">
        <div class="expand" (click)="openModal()">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        </div>
        <p>
          Plataforma de desarrollo para crear aplicaciones web móviles y de escritorio utilizando TypeScript / JavaScript y otros lenguajes. <br>
          Es de código abierto. <br>
          Mantenido por google. <br>
          Lanzamiento inicial 14 de septiembre de 2016. <br>
          Última versión estable	9.0.4 -- 25 de febrero de 2020 <br>
          https://github.com/angular/angular
        </p>
      </div>
      <div class="col-5">
        <img src="../../../../../assets/img/angular-logo.png" alt="">
      </div>
    </div>
  </div>
</app-content>
<app-modal title="Historia Angular">
  <img class="modal-img" src="../../../../../assets/img/angular-modal-history.jpg" alt="">
</app-modal>
