<app-content title="Single page aplication">
  <p>
    Una <b>SPA</b> es un sitio donde existe un único punto de entrada,
    generalmente el archivo index.html. En la aplicación no hay ningún otro archivo HTML al que se pueda acceder de manera separada y que nos muestre un contenido o parte de la aplicación, toda la acción seproduce dentro del mismo index.html.
  </p>
  <p>Características:</p>
  <ul>
    <li>
      Enrutado
    </li>
    <li>
      Interfaz de usuario dinámica
    </li>
    <li>
      Acceso a los datos por consumo.
    </li>
  </ul>
</app-content>
