<app-content title="Template literal">
  <p>Las plantillas de cadena de texto se delimitan con el caracter de comillas o tildes invertidas ( ` ` ) (grave accent) , en lugar de las comillas simples o dobles.</p>

  <p>Las plantillas de cadena de texto pueden contener marcadores, identificados por el signo de dólar, y envueltos en llaves (${{ '{' }}expresión{{ '}' }}). Las expresiones contenidas en los marcadores, junto con el texto entre ellas, son enviados como argumentos a una función.</p>
</app-content>
