<app-content title="Tipado de datos">
  <ul>
    <li><b>any</b>: Se utiliza para describir un tipo de dato dinámico el cual no se tiene conocimiento del tipo al resolver una solicitud.</li>
    <li><b>null</b>: Es un valor vacío o inexistente y debe ser asignado</li>
    <li><b>undefined</b>: es una variable que ha sido declarada, pero no definida también puede ser definida implicitamente.</li>
    <li><b>unión</b>: nos permite definir diferentes tipos de datos para una misma variable.</li>
  </ul>
</app-content>
