<div class="ca-page">
  <div class="header">
    <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0015/4672/brand.gif?itok=cpBYF2kk"/>
  </div>

  <div class="container body">
    <div class="row">
      <div class="col-7 title">
        <h1>Agenda:</h1>
      </div>
      <div class="col-5 list">
        <ul>
          <li>1. Terminología básica.</li>
          <li>2. Estructura de carpetas.</li>
          <li>3. Manejo de dependencias.</li>
          <li>4. Archivos de configuración.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

