<app-content title="Niveles de acceso">
  <ul>
    <li><b>Público por defecto</b>: accesible y visible desde fuera de las clases.</li>
    <li><b>Private</b>: Cuando se marca un miembro private, no se puede acceder desde fuera de su clase que lo contiene.</li>
    <li><b>Protected</b>: El protected modificador actúa de manera muy similar al private modificador con la excepción de que los miembros declarados protected también pueden accederse dentro de las clases derivadas.</li>
  </ul>
</app-content>
